* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100vh;
	overflow: hidden;

	display: flex;
	flex-direction: row;

	justify-content: flex-start;
	align-items: flex-start;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

.formName {
	margin-bottom: 40px;
	padding: 10px;
	background-color: #2962ff;
	
	visibility: hidden;
	color: #fff;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.formName * {
	margin: 5px;
	padding: 5px;
}
